.user__info {
  background-color: var(--primery-color-white);
  box-shadow: 0 4px 9px #0000001a;
  padding: 16px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 27px;
  z-index: 20;

}
.user__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.user__btn {
  background-color: inherit;
  border: none;
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 0 4px;
  cursor: url("/public/welcomePageFoto/mdi_cursor-pointer.png"), auto;
}
.user__desc {
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--font-family);
  color: var(--primery-color-blue);
  margin: 0;
  white-space: nowrap;
  transition: color 300ms linear;
}
.user__icon{
  transition: stroke 300ms linear;
}
@media screen and (min-width: 1440px) {
  .user__info {
    top: 31px;
  }
}
.user__btn:hover .user__desc{
  color: var(--secondary-color-5);
  transition: color 300ms linear;
}
.user__btn:hover .user__icon{
  stroke: var(--secondary-color-5);
  transition: stroke 300ms linear;
}
