.dailyNormaSection {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.imageContainer {
  position: relative;
  width: 280px;
  height: 208px;
  background-image: url('../../../public/images_auth/Botle_Homescreendec.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  }
  
  .slider {
    width: 100%;
    margin-bottom: 8px; 
  }
  .waterBottle {
    width: 100%;
    max-width: 280px; 
    height: auto;
    margin: 0 auto; 
  }
  .progressContainer {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    overflow: visible;
  }

  .progressTitle{
    font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #407bff;
  }
  .progressBar {
    margin-top: 8px;
    display: block;
    width: 256px;
    margin-left: 10px;
  }
  
  .progressMarkers {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    color: #407bff;
    margin-left: -8px;
  }
  
  .marker {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .tick {
    width: 2px;
    height: 8px;
    border: 1px solid #d7e3ff;
    width: 8px;
    height: 0px;
    transform: rotate(-90deg);
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 12px;
  }
  
  .progressLabels span {
    transition: font-size 0.2s, color 0.2s;
    color: #407bff;
    font-weight: 400;
  }
  
  .addWaterBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #407bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
  }
  
  .addWaterBtn:hover {
    box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
    background: #407bff;
    color: #ff9d43;
  }
  
  .addWaterBtn:active {
    background: #407bff;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    fill: none;
    stroke-width: 2px;
    stroke: #ffffff;
  }
  .icon:hover {
    fill: #ff9d43;
  }
  @media screen and (min-width: 768px) {
    .dailyNormaSection {
      position: relative;
      margin-top: 40px;
      width: 100%;
      max-width: none; 
      margin-left: 40px;
      margin-right: 40px;
    }
    
    .progressContainer {
      width: 100%; 
      max-width: none; 
      margin-top: 326px;
      flex: 1;
      margin-right: 28px;
      max-width: 356px;
    }

    .imageContainer {
      position: absolute; 
      top: 10px; 
      left: 10%;
      transform: translateX(-20%); 
      width: 100%;
      max-width: 500px; 
      height: 386px;
      z-index: -1;
      margin-left: 125px;
    }
  
    .waterBottle {
      width: 100%;
      object-fit: cover; 
    }
  
    .bottomSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;
      max-width: nones;
    }
  
    .addWaterBtn {
      max-width: 336px;
      flex-shrink: 0;
      padding: 10px 20px;
      margin-top: 336px;
        }

    .progressBar {
      width: 325px;
    }
    .progressMarkers{
      margin-left: 5px;
    }
  }
  @media screen and (min-width: 1440px) {
    
    .addWaterBtn {
      max-width: 178px;
      margin-top: 524px;
      margin-right: 836px;
    }
    .imageContainer {
      top: -15px;
      left: -2%;
      height: 548px; 
      max-width: 738px;
    }
    .progressBar {
      width: 350px;
      margin-top: 16px;
      flex: 0;
      max-width: 400px;
    }
    .dailyNormaSection {
      margin-left: 0px;
      margin-right: 0px;
    }
    .progressContainer {
      margin-top: 494px;
      margin-left: 10px;
    }
  }