.whyDrinkWater {
  background-color: #ecf2fe;
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  border-radius: 10px;
  padding: 24px 16px 8px;
  text-align: left;
}

.whyDrinkWaterTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  margin-bottom: 12px;
}

.whyDrinkWaterList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.whyDrinkWaterItem {
  position: relative;
  padding-left: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000;
  display: flex;
  align-items: center;
}

.whyDrinkWaterItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #407bff;
  border-radius: 50%;
}

/* Media Queries */
@media screen and (min-width: 375px) {
  .whyDrinkWater {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .whyDrinkWater {
    width: 446px;
    padding: 32px 24px 16px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .whyDrinkWater {
    width: 446px;
    height: 270px;
    padding: 32px 24px;
    margin: 0;
    margin-top: 28px;
  }
    .whyDrinkWaterTitle {
      margin-top: 0;
    }
}
