.logo {
    font-family: var(--font-family);
font-weight: 700;
font-size: 12px;
text-transform: uppercase;
color: var(--primery-color-blue);
width: 58px;
/* padding: 10px 0; */
justify-content: center;
}
.main {
    display: flex;
    width: 102px;
    height: 48px;
}
/* .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .icon-Logo {
    width: 0.8330078125em;
  } */