.backdrop {
  position: fixed;
  inset: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.modal {
  font-family: var(--font-family);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 80px);
  background-color: #ffffff;
  border-radius: 10px;
  width: min-content;
}

/* @media screen and (min-width: 768px) {
  .modal {
    max-height: calc(100% - 152px);
  }}
  @media screen and (min-width: 1440px) {
    .modal {
      width: 1008px;
    }} */
