.modal {
  display: flex;
  justify-content: center;
  /* Центрирование по горизонтали */
  align-items: center;
  /* Центрирование по вертикали */
  position: fixed;
  top: 0;
  left: 0;
 width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Полупрозрачный фон */
  z-index: 9999;
  /* Убедитесь, что модальное окно сверху */
}

.modalContent {
  background-color: #fff;
  /* Белый фон для содержимого */
  padding: 24px 12px;
  /* Внутренний отступ */
  border-radius: 10px;
  /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Тень для глубины */
  /* Максимальная ширина */
  /* max-width: 256px; */
  /* Ширина с учетом малых экранов */
  text-align: center;
  /* Центрирование текста */
  margin-left: 20px;
  margin-right: 20px;
}

  

/* .modal {
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 90vh;
  padding: 20px;

overflow-y: auto;
  max-height: 100vh;
}

.modal-content {
  width: 100%;

  position: relative;
  overflow-y: auto;
  max-height: 80vh;
} */
.navnButton {
display: flex;
  justify-content:space-between;
  margin-bottom: 15px;
}
.closeButton {
position:relative;
  top: 15px;
  right: 0px;
  width: 24px;
  height: 24px;
  background: white;
  border: none;
  font-size: 20px;
  color: #007bff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: color 0.3s;

}
.iconClose {

  display: block;
  width: 100%;
  height: 100%;
  stroke: var(--primery-color-blue);
  transition: stroke 300ms linear;
}
.iconClose:hover {

  fill: var(--secondary-color-5);
  stroke: var(--secondary-color-5);
  box-shadow: none;
}
.closeButton:hover {
  color: white;
  background-color: #007bff;
}

.h2,
.h3,
.h4 {
  margin: 10px 0;
}

.labelInput {
  display: block;
  margin: 10px 0;
}

.formulas {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 10px;
}

.formulas p {
  display: flex;
  align-items: center;
}

.formulas .label {
  color: black;
  margin-right: 5px;
}

.formulas .formula {
  color: #007bff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
} 

.radioGroup {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.labelInput {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  display: block;
}

.inputWrapper {
  width: 100%;
    display: flex;
    flex-direction: column;
}

/* input[type="radio"] */
.radioLabel{ 
  margin-right: 5px;
  accent-color: #007bff;
}

/* input[type="number"], */
.bluInput,
.textarea  {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.textarea {
  color: gray;
  font-size: 12px;
  background-color: white;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

.textarea:read-only {
  background-color: white;
  cursor: not-allowed;
} 

.saveButton {
  width: 256px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;

  border-radius: 10px;
padding: 8px 30px;
width: 256px;
height: 36px;
} 

.saveButton:hover {
  background-color: #0056b3;
} 

.bluInput {
  width: 100%;
  color: #007bff;
  box-sizing: border-box;
}

/* Адаптация для телефонов и планшетов */
@media screen and (max-width: 768px) {
  .modal {
    
   width: 100%;
    height: 100vh;

    /* padding-left: auto;
    padding-right: auto; */
  }

  .modal-content {
      max-width: 256px;
    padding: 0 15px;
    overflow-y: auto;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .formulas {
    flex-direction: column;
    gap: 10px;
  }

  .radio-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;
  }

  .radio-label {
    margin-right: 0;
    margin-bottom: 10px;
  }

    .labelInput {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
  }

  /* button {
    align-self: center;
  }

  h2 {
    font-size: 1.2em;
  }

  h3,
  h4 {
    font-size: 1em;
  }

  label,
  input[type="number"],
  textarea {
    font-size: 0.9em;
  }

  button {
    width: 80px;
    padding: 8px;
    font-size: 0.9em;
  }

  textarea {
    font-size: 0.9em;
  }*/
} 

/* Адаптация для всех компьютеров и браузеров */
@media screen and (min-width: 768px) {
  /* Your styles here */

  .modal {
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 10;
  }
 .modalContent {
    padding: 24px ;
    max-width: 656px;
  }

  .formulas {
    flex-direction: row;
    gap: 20px;
  }
  .saveButton {
    width:160px;
    margin-left: auto;
    margin-right: 0;
  }
  .radioGroup {
display: flex;
    flex-direction: row;

    /* display: flex;
      align-items: center; */
      margin-bottom: 10px;
      gap: 10px;
  }

  .radio-label {
    margin-right: 20px;
    margin-bottom: 0;
  }

    .labelInput {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    display: block;
  }

  /* button {
    align-self: flex-end;
  } */
}

.blu {
  color: #007bff;

}

.bluInput {
  width: 100%;
  color: #007bff;
  box-sizing: border-box;
}
@media screen and (min-width: 1216px) {
  .modalContent {
    max-width: 544px;
  }
}