@media screen and (max-width: 768px) {
    .HeaderDiv {
     min-width: 280px;
     display: flex;
     gap: 58px;
     justify-content: space-around;
     padding-top:8px;
    }
}
@media screen and (min-width: 768px) {
    .HeaderDiv {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 58px;
        justify-content: space-around;
        padding-top:8px;
    }
}
@media screen and (min-width: 1440px) {
    .HeaderDiv {
        width: 1376px;
        margin-left: auto;
        margin-right: auto;
    }
   
}