/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} */

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
} */

/* .modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 90vh;
  text-align: left;
} */

.modal {
  display: flex;
  justify-content: center;
  /* Центрирование по горизонтали */
  align-items: center;
  /* Центрирование по вертикали */
  position: fixed;
  top: -200px;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Полупрозрачный фон */
  z-index: 9999;
  /* Убедитесь, что модальное окно сверху */
}

.modalContent {
  background-color: #fff;
  /* Белый фон для содержимого */
  padding: 24px 12px;
  /* width:256px; */
  /* Внутренний отступ */
  border-radius: 10px;
  /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Тень для глубины */
  /* Максимальная ширина */
  width: 100%;
  /* Ширина с учетом малых экранов */
  text-align: center;
  /* Центрирование текста */
  margin-left: 20px;
  margin-right: 20px;
}



.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.headerText {
  font-family: var(--font-family);
font-weight: 500;
font-size: 26px;
line-height: 123%;
color: var(--primery-color-black);
/* margin:0 0 24px 0; */
}
.modal-header h2 {
  margin: 0;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
    color: white;
    /* background-color: #007bff; */
  /* color: black; */
  text-decoration: none;
  cursor: pointer;
}

/* .modalBody {
  margin-top: 10px;
} */

.modalBody label {
  display: block;
  margin-bottom: 15px;
}

.modalBody input[type="text"],
.modalBody input[type="number"],
.modalBody select {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height:20px;
  padding: 8px;
  margin-bottom: 24px;
  border: 1px solid var(--secondary-color---5);
  border-radius: 4px;
  color: #0056b3;
  font-size: 16px;
}
.modalBody select {
  width: 120px;
  margin-bottom: 20px;
  padding: 12px 0 10px;
  height:44px;
}
.amountSelector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.amountSelector button {
  width: 44px;
  height: 44px;
  border: solid 1px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  color: #0056b3;
}

.amountSelector button:hover {
  background-color: #0056b3;
  color: white;
}

.amountSelector span {
  margin: 0 7px;
  width: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  background-color: #abd4ff;
  padding: 5px 10px;
  border-radius: 15px;
  color: #0056b3;
}



.inputSaveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputSaveContainer input[type="text"] {
  width: calc(100% - 110px);
  padding: 8px;
  margin-right: 10px;
  border: none;
  background-color: transparent;
  text-align: right;
  color: #0056b3;
  font-size: 16px;
}

.inputText {
  color: #0056b3;
  font-size: 16px;
}

.labelDistance {
  /* padding-bottom: 10px; */
  margin:0 0 16px 0;
  text-align: start;
  font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
line-height: 111%;
color: var(--primery-color-black);
}
.labelDistanceText {
  margin:0 0 16px 0;
  text-align: start;
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: var(--primery-color-black);
}
.labelDistanceText {
  font-size: 15px;
  text-align: start;
}

.saveButton {
  width: 256px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.saveButton:hover {
  background-color: #0056b3;
}


.buttonSelector {
  padding: 0;
}

.modalBody input[type="text"], .inputField {
  margin-bottom: 16px;
  padding: 0;
  border: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 133%;
text-align: center;
color: var(--primery-color-blue);
}

.inputField:focus {
  border: none;
  outline: none;
}

@media screen and (min-width:768px)  {
  .modalContent {
    padding: 24px ;
    width: 656px;
  }
  .modalBody input[type="text"],
  .modalBody input[type="number"],
  .modalBody select {
 width: 636px;

  }
  .modalBody select {
    width: 656px;
  }
  .saveButton {
    width: 160px;
  }
  .inputSaveContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
   
  }
  .modalBody input[type="text"], .inputField {
    text-align: right;
    margin-right: 24px;
    padding-right: 10px;
    margin-bottom: 0;
  }
}

@media screen and (min-width:1216px) {
  .modalContent {
    width: 544px;
  }
  .modalBody input[type="text"],
  .modalBody input[type="number"],
  .modalBody select {
 width: 524px;

  }
  .modalBody select {
    width: 544px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
