.waterConsumptionTracker {
  text-align: left;
  margin-bottom: 40px;
}

.waterConsumptionTrackerTitle {
  font-family: Roboto, bold, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 114%;
  margin: 0;
  margin-bottom: 16px;
}

.waterConsumptionTrackerDescription {
  width: 197px;
  font-size: 24px;
  font-weight: 400;
  line-height: 125%;
  margin: 0;
  margin-bottom: 24px;
}

.subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  margin-bottom: 12px;
}

.waterTrackerConsumptionBenefits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}

.waterTrackerConsumptionBenefit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.waterTrackerConsumptionBenefitText {
  width: auto;
}

.waterTrackerConsumptionIcon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.waterTrackerConsumptionButton {
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  width: 280px;
  height: 36px;
  cursor: url('/public/welcomePageFoto/mdi_cursor-pointer.png'), auto;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.waterTrackerConsumptionButton:hover,
.waterTrackerConsumptionButton:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.waterTrackerConsumptionButton:active {
  box-shadow: none;
}

/* Media Queries */
@media screen and (min-width: 375px) {
  .waterTrackerConsumptionButton {
    margin: 0 auto;
  }

  .waterConsumptionTrackerDescription {
    width: 197px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .waterConsumptionTracker {
    margin-bottom: 60px;
  }

  .waterConsumptionTrackerTitle {
    font-size: 36px;
    line-height: 117%;
  }

  .waterConsumptionTrackerDescription {
    width: 404px;
    height: 32px;
    font-size: 26px;
    line-height: 123%;
  }

  .waterTrackerConsumptionBenefits {
    flex-direction: row;
    align-content: space-between;
  }

  .waterTrackerConsumptionBenefitText {
    width: 176px;
  }

  .waterTrackerConsumptionIcon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .waterTrackerConsumptionButton {
    width: 336px;
    height: 44px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  .waterConsumptionTrackerTitle {
    width: 439px;
    height: 38px;
    font-size: 34px;
  }

  .waterConsumptionTrackerDescription {
    width: 404px;
    height: 32px;
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    line-height: 123%;
    margin-bottom: 24px;
  }

  .waterTrackerConsumptionBenefits {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }

  .waterTrackerConsumptionButton {
    margin: 0;
    width: 384px;
    height: 44px;
  }
}
