 /* Обертка формы */

 /* Задний фон (оверлей) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* затемнение */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* поверх других элементов */
}

/* Контейнер модалки */
.modal {
  background-color: #fff;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
}

/* Заголовок */
.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Кнопка закрытия */
.closeButton {
  margin-top: 15px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.closeButton:hover {
  background-color: #c0392b;
}

 .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    margin-left: 0;
  }

  .CloseButton {
    position: absolute;
    right: 0;
    margin-right: 24px;
  }

  @media screen and (min-width: 320px) {
    .formContainer {
        width: 280px;
        padding: 0;
      }
  }

  @media screen and (min-width: 768px) {
 
.formContainer {
  width: 336px;
  
}


.btn {
  height: 44px;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 24px;
}


}
@media screen and (min-width: 1440px) {
  .formContainer {
    width: 384px;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    }
}

