 /* Обертка формы */
 .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    margin-left: 0;
  }

  .CloseButton {
    position: absolute;
    right: 0;
    margin-right: 24px;
  }

  @media screen and (min-width: 320px) {
    .formContainer {
        width: 280px;
        padding: 0;
      }
  }

  @media screen and (min-width: 768px) {
 
.formContainer {
  width: 336px;
  
}


.btn {
  height: 44px;
  padding: 10px 30px;
  font-size: 18px;
  line-height: 24px;
}


}
@media screen and (min-width: 1440px) {
  .formContainer {
    width: 384px;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    }
}

