.homeContainer {
    margin-top: 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 100%;
    max-width: 1440px;
    background-image: url('/public/images_auth/Background_element_Homescreen_mob.svg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex; 
  flex-direction: column;
  }

  .dailyNormaSection {
    width: 100%;
    max-width: 400px; 
    text-align: center;
  }
  
  .waterTrackerSection {
    display: flex;
    justify-content: center;
    width: 100%;
  }

    .todayWaterListSection {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      column-gap: 20px; 
    }
  
  @media screen and (min-width: 768px) {
    .homeContainer {
      width: 100%;
      justify-content: flex-start;
      align-self: start;
      max-width: none; 
      background-image: url('/public/images_auth/Background_elementHomeScreendec.svg'); 
    }

    .dailyNormaSection {
      text-align: left;
    }
    .todayWaterListSection {
      grid-template-columns: repeat(4, 1fr); 
      column-gap: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    .homeContainer {
      flex-direction: row;
      margin-left: 112px;
      justify-content: space-between;
      gap: 40px;
      background-image: url('/public/images_auth/Background_elementHomeScreendec.svg');
    }
  
    .dailyNormaSection,
    .waterTrackerSection {
      max-width: none;
    }
    .todayWaterListSection {
      grid-template-columns: repeat(12, 1fr); 
      column-gap: 32px; 
    }
  }