/* .homeContainer {
    margin-top: 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    width: 100%;
    max-width: 1440px;
    background-image: url('/public/images_auth/Background_element_Homescreen_mob.svg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    display: flex; 
  flex-direction: column;
  }

  .dailyNormaSection {
    width: 100%;
    max-width: 400px; 
    text-align: center;
  }
  
  .waterTrackerSection {
    display: flex;
    justify-content: center;
    width: 100%;
  }

    .todayWaterListSection {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      column-gap: 20px; 
    }
  
  @media screen and (min-width: 768px) {
    .homeContainer {
      width: 100%;
      justify-content: flex-start;
      align-self: start;
      max-width: none; 
      background-image: url('/public/images_auth/Background_elementHomeScreendec.svg'); 
    }

    .dailyNormaSection {
      text-align: left;
    }
    .todayWaterListSection {
      grid-template-columns: repeat(4, 1fr); 
      column-gap: 32px;
    }
  }

  @media screen and (min-width: 1440px) {
    .homeContainer {
      flex-direction: row;
      margin-left: 112px;
      justify-content: space-between;
      gap: 40px;
      background-image: url('/public/images_auth/Background_elementHomeScreendec.svg');
    }
  
    .dailyNormaSection,
    .waterTrackerSection {
      max-width: none;
    }
    .todayWaterListSection {
      grid-template-columns: repeat(12, 1fr); 
      column-gap: 32px; 
    }
  } */


  .homeContainer {
    position: relative;
    height: 1320px;
    width: 100%;
    background-image: url('/public/images_homePage/Background_element_Home_screen_mob.svg');      
    background-color: var(--primery-color-white);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center top;
    margin: 0 auto;
    z-index: 0;} 
  
  .waterTrackerSection {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 auto;
  }

  @media screen and (min-width: 320px) {
    .homeContainer {
      width: 320px;
      height: 1320px;
    }

  }
  @media screen and (min-width: 768px) {
    .homeContainer {
      width: 768px;
      background-image: url('/public/images_homePage/Background_element_Home_Screen_tab.svg');
      background-position: center top;
      height: 1280px;
    
    }
    .waterTrackerSection {
      width: 704px;
      height: 100%;
  }
  }
  @media screen and (min-width: 1440px) { 
    .homeContainer {
      width: 1440px;
      background-image: url('/public/images_auth/Background_MainPage.svg');
      background-position: center top;
      height: 680px;
    }
    .homeSectionsWrapper{
      display: flex;
      justify-content: space-between;
      width: 1216px;
      margin: 0 auto;
    }

    .statsSectionsWrapper {
      display: inline-flex;
padding: 32px 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
border-radius: 10px;
background: var(--Secondary-color-2, #ECF2FF);
box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.30);

    }
    .waterTrackerSection {
      width: 600px;
      
   
  }
  .todayWaterListSection {
    width:592px;
    height: 260px;
  }
  }