.NotFoundPageContainer {
  text-align: center;
  margin-top: 50px;
}

.NotFoundPageTitle {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 115%;
  color: #1e345f;
}

.NotFoundPageLink {
  display: inline-block;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
  padding: 8px 15px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 111%;
  color: #fff;
  text-decoration: none;
  cursor: url('/public/welcomePageFoto/mdi_cursor-pointer.png'),auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.NotFoundPageLink:hover,
.NotFoundPageLink:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);;
}
